<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<header>Technologies that i learned!</header>


<nav class="basic-container">
    <a href="">C</a>
    <a href="">Java</a>
    <a href="">HTML</a>
    <a href="">CSS</a>
    <a href="">JavaScript</a>
</nav>


<div class="basic-container">
    <h2>Hi, my name is Júlio!</h2>
    <p style="margin-left: 20px;">I made this blog web application to test my skills in the backend!</p>
</div>

<div class="backend basic-container">
    <h2>What is backend?</h2>
    <span>May 16, 2024 by <a href="">Júlio</a></span>

    <hr>

    <p>Backend is a fundamental part of software development, especially in web applications. It refers to the layer of a system that handles data processing and storage, as well as business logic. While the frontend deals with the user interface and direct user interaction, the backend deals with everything that happens behind the scenes.</p>

    <hr>

    <h3>Typical responsibilities of the backend include:</h3>
</div>