<%- include("partials/header.ejs") %>

<div class="infos basic-container">

    <h2>What is C language?</h2>
    <span>May 16, 2024 by <a href="">Júlio</a></span>

    <hr>
    <div class="p-photo">
    
        <p>C is a powerful and widely used programming language originally developed by Dennis Ritchie at Bell Labs in the early 1970s. It has had a profound influence on many other programming languages and is often considered the lingua franca of programming due to its efficiency, flexibility, and portability.</p>
    
        <div class="pic">
            
            <img src="./images/dennis-ritchie.jpg" alt="">

            <h4><a href="https://pt.wikipedia.org/wiki/Dennis_Ritchie" target="_blank">Dennis Ritchie </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-link-45deg" viewBox="0 -2 15 15">
                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
              </svg></h4>

            <p>Born: <span>September 9, 1941</span></p>
            <p>Died: <span>October 12, 2011 (aged 70)</span></p>
            <p></p>
            

        </div>
    
    </div>

    <hr>

    <h3>Here are some key features and aspects of the C programming language:</h3>

    <ul>
        <li><strong>Procedural Language:</strong> C is primarily a procedural programming language, meaning it follows a top-down approach to write programs, focusing on functions or procedures that operate on data.</li>
        <li><strong>Middle-level Language:</strong> C is often referred to as a middle-level language because it combines elements of both high-level languages (such as Python or Java) and low-level languages (such as assembly language). This allows for direct manipulation of hardware resources while also offering high-level constructs like variables and functions.
        </li>
        <li><strong>Portability:</strong> C programs are highly portable, meaning they can be compiled and executed on various platforms with minimal changes. This is because C compilers are available for a wide range of systems, from microcontrollers to supercomputers.</li>
        <li><strong>Efficiency:</strong> C is known for its efficiency in terms of both execution speed and memory usage. It provides direct access to system-level resources and allows for fine-grained control over memory management, making it suitable for developing system software, device drivers, and other performance-critical applications.</li>
        <li><strong>Static Typing:</strong> C is a statically typed language, which means that variable types are determined at compile time rather than runtime. This can help catch errors early in the development process and improve performance.</li>
        <li><strong>Rich Standard Library:</strong> C comes with a standard library that provides a wide range of functions for tasks such as input/output operations, string manipulation, memory allocation, and mathematical computations. This standard library forms the basis for many other libraries and frameworks built on top of the C language.</li>
        <li><strong>Pointers:</strong> One of the most distinctive features of C is its support for pointers, which are variables that store memory addresses. Pointers allow for direct memory manipulation and are often used for tasks like dynamic memory allocation, accessing array elements, and implementing data structures like linked lists and trees.</li>
        <li><strong>Structured Programming Constructs:</strong> C supports structured programming constructs such as loops, conditional statements, and functions, which help improve code readability, maintainability, and modularity.</li>
    </ul>

</div>