<div class="infos basic-container">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto optio quis sequi, voluptate consequuntur temporibus amet sint harum nobis doloremque praesentium vero unde perspiciatis sed a, eveniet earum consequatur ipsum?</p>


</div>