*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --white: #fff;
}

html{
    background-color: #343a40;
}

h2{
    font-family: "Playfair Display", sans-serif;
    color: var(--white);
}

h3{
    font-family: "Playfair Display", sans-serif;
    color: var(--white);
    margin-top: 20px;
}

header{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--white);
    margin-bottom: 20px;
    font-family: "Playfair Display", sans-serif;

    padding: 20px;
}

hr{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

span{
    color: gray;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

a{
   text-decoration: none;
   color: var(--white);
   font-weight: 200;
   font-size: 1.5rem;
   
}

a:hover{
    text-decoration: underline;
}

ul{
    margin: auto;
    margin-top: 10px;
    width: 85%;
}

li{
    color: var(--white);
    text-align: justify;
    margin-top: 20px;
}

.basic-container{
    margin: auto;
    width: 85%;
    background-color: rgba(128, 128, 128, 0.132);
    border-radius: 20px;
}

.basic-container > h2{
    font-family: "Playfair Display";
    color: var(--white);
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 60%;
    font-size: 1.8rem;
}

.basic-container  p{
    width: 60%;
    color: var(--white);
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: justify;
}

.infos{
    background-color: #343a40;
}

.infos > h2{
    padding-bottom: 0px;
}

.infos > *{
    margin-left: 20px;
}

.infos a{
    text-decoration: underline;
    color: blue;
    font-size: 1.1rem;
}

.infos span{
    padding-top: 0px;
}

.p-photo{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.p-photo > img{
    height: 150px;
}

.pic-container{
    color: white;
}