*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --white: #fff;
    /*#343A40 previous background*/
    --background: #22262a;
    --container: rgba(128, 128, 128, 0.132);
    --playfair: "Playfair Display", sans-serif;
}

html{
    background-color: var(--background);
}

h2{
    font-family: var(--playfair);
    color: var(--white);
}

h3{
    font-family: var(--playfair);
    color: var(--white);
    margin-top: 40px;
    font-size: 2rem;
    font-weight: 900;
}

header{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--white);
    margin-bottom: 20px;
    font-family: var(--playfair);

    padding: 20px;
}

hr{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

span{
    color: gray;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

a{
   text-decoration: none;
   color: var(--white);
   font-weight: 200;
   font-size: 1.5rem;
   
}

a:hover{
    text-decoration: underline;
}

ul{
    margin: auto;
    margin-top: 10px;
    width: 85%;
}

li{
    color: var(--white);
    text-align: justify;
    margin-top: 20px;
    width: 75%;
}

.basic-container{
    margin: auto;
    width: 85%;
    background-color: var(--container);
    border-radius: 20px;
}

.basic-container > h2{
    font-family: var(--playfair);
    color: var(--white);
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 60%;
    font-size: 1.8rem;
}

.basic-container  p{
    width: 70%;
    color: var(--white);
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: justify;
}

.infos{
    background-color: var(--background);
}

.infos > h2{
    padding-bottom: 0px;
}

.infos > *{
    margin-left: 20px;
}

.infos a{
    text-decoration: underline;
    color: blue;
    font-size: 1.1rem;
}

.infos span{
    padding-top: 0px;
}

.p-photo{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}

.pic{
    background-color: var(--container);
    
    width: 195px;
    
   
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 20px;

    padding: 10px;

    color: white;
    text-align: center;
}

.pic> img{
    width: 100%;
    border-radius: 20px;
}

.pic a{
    font-family: var(--playfair);
    text-decoration: none;
    color: var(--white);
}

.pic a:hover{
    text-decoration: underline;
}

.pic p{
    margin: 5px;
    padding: 0;
    font-family: var(--playfair);
    font-weight: 700;
    text-align: left;
    font-size: 0.9rem;
    width: 100%;
}

.pic span{
    color: white;
    font-weight: 200;
    font-family: var(--playfair);
}

.code{
    width: 55%;
   
    margin-top: 30px;

    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
}

.code-header{
    background-color: var(--container);
    border-radius: 20px 20px 0px 0px;
    color: white;
    padding: 10px;
}

.code-itself{
    background-color: black;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

.code-itself code{
    font-family: 'Courier New', Courier, monospace !important;
    color: white;
    
}

.code-itself pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}


footer{
    background-color: var(--container);

    color: white;

    text-align: center;
    font-size: 1.5rem;

    padding: 20px;

    margin-top: 20px;

}